.app {
  color: deeppink;
  text-align: center;

    .Clock {
      border: 2px solid black;
      border-radius: 2rem;
      box-shadow: 15px 15px 0px 0px #ecebeb;
      width: 20%;
      margin: 2rem auto;
      padding: 2rem 4rem;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .btnHideClock {
      border: none;
      background-color: rgb(3, 198, 252);
      padding: 1rem 2rem;
      border-radius: 5px;
      color: whitesmoke;
      font-size: 1rem;
      font-weight: 600;
      margin: 1rem 2rem 2rem;
    }
 
  
}


